<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MissionHub{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <script src="https://sdk.pi-network.com/v2/pi-sdk.js"></script>
    <script>Pi.init({ version: "2.0", sandbox: true })</script>
</head>
<body>
    <nav>
        <div class="nav-links">
            <a href="{% url 'list_missions' %}"><strong>MissionHub</strong></a>
            {% if user.is_authenticated %}
                <a href="{% url 'product_list' %}">Marketplace</a>
                <a href="{% url 'user_proofs' %}">Mes Preuves</a>
                <a href="{% url 'user_notifications' %}">Notifications</a>
            {% endif %}
        </div>
        <div class="user-info">
            {% if user.is_authenticated %}
            {% if user.profile %}
            <span class="user-greeting">Bonjour, <a href="{% url 'user_profile' %}">{{ user.profile.pseudo }}</a></span>
            <span class="user-balance">Solde : <strong>{{ user.profile.solde|default:"0.0" }} π</strong></span>
        {% else %}
            <span class="user-greeting">Bonjour, {{ user.username }}</span>
            <span class="user-balance" style="color: red;">Profil manquant !</span>
        {% endif %}
            <form action="{% url 'logout' %}" method="post" class="user-logout">
                {% csrf_token %}
                <button type="submit" class="link-button">Déconnexion</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Connexion</a>
                <a href="{% url 'signup' %}">Inscription</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

</body>
</html>

